PROJECT_NAME=""
PROJECT_DESCRIPTION=""
API_V1_STR=""
SITE_NAME=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
POSTGRES_HOST=""
POSTGRES_PORT=""

DATABASE_URL="postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"
MAIL_FROM=""
MAIL_FROM_NAME=""
MAILGUN_SMTP_USERNAME=""
MAILGUN_SMTP_PASSWORD=""

CELERY_FLOWER_USER=
CELERY_FLOWER_PASSWORD=
CELERY_BROKER_URL=""
CELERY_RESULT_BACKEND=""

SIGNING_KEY=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

BANK_CODE=""
BANK_BRANCH_CODE=""
CURRENCY_CODE_USD=""
CURRENCY_CODE_EUR=""
CURRENCY_CODE_GBP=""
CURRENCY_CODE_NGN=""

MLFLOW_TRACKING_URI=""
MLFLOW_EXPERIMENT_NAME=""
MLFLOW_MODEL_REGISTRY_NAME=""
MLFLOW_BACKEND_STORE_URI="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"
MLFLOW_ARTIFACTS_DESTINATION=""

REDIS_HOST=
REDIS_PORT=
REDIS_DB=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
